.titleContact {
  font-weight: 700;
  font-size: 60px;
  color: #1E1F4B;
  margin-bottom: 30px;
}

.helpText {
  text-align: center;
  font-size: 26px;
  color: #1E1F4B;
}

.contactItemWrapper {
  .title {
    color: #5B5B5B;
    font-weight: 300;
    font-size: 18px;
  }
}