.wrapperMain {
  font-style: normal;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 0.2px;
  color: #1E1F4B;
  margin-bottom: 42px;
}

.cooperationWrapper {
  background: rgba(112, 111, 229, 0.02);
  margin: 50px 0;
  padding: 40px 0;

  .title {
    font-size: 32px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #1E1F4B;
    margin-bottom: 50px;
  }

  .logo {
    width: 100%;
  }
}

.itemWatch {
  cursor: pointer;
}

.watchIcon {
  transition: all .4s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.buttonContact {
  background: #2E3E5C;
  font-size: 18px;
  border-radius: 12px;
  padding: 15px 40px;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;

  &:hover {
    background: #706FE5;
  }
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 24px;
}

.aboutWrapper {
  .title {
    color: #1E1F4B;;
    font-weight: 700;
    font-size: 40px;
  }

  .description {
    font-weight: 400;
    font-size: 20px;
    color: #1B1D21;
  }

  .icon {
    width: 100px;
  }

  .priorityItem {
    .text {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #1E1F4B;
    }

    .explanation {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: #2E3E5C;
    }
  }
}

.footer {
  background: #2E3E5C;
  padding: 50px 0;

  .itemPage {
    transition: all .3s ease;
    padding-right: 50px;
    color: white;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: white;
  }
}