@import "auth/login.module";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

body {
  background: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;

}

.containerPage {
  @media (max-width: 500px) {
    margin-top: 220px;
  }
  margin-top: 120px;
  margin-bottom: 120px;
}

::selection {
  background: #706FE5;
}

* {
  box-sizing: border-box;
}

a {
  transition: all .3s ease;
  text-decoration: none !important;
  color: #000 !important;
}

.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parent-header {
  height: 100px;
}

.items-container {
  display: flex;
  align-items: center;

  a {
    padding: 0.3vw 0.7vw 0;
    margin: 0 0.05vw;
    height: 1.7vw;
    border-radius: 0.8vw;

    &.active, &:hover {
      background: #ffffff;
    }
  }
}

.content {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 3%;
}

.title {
  color: black;
  font-weight: 600;
  font-size: 5vw;
  margin-bottom: 30px;
}

.title-text {
  @media (max-width: 740px) {
    font-size: 40px;
    line-height: 50px;
  }
  font-weight: 700;
  font-size: 60px;
  color: #1E1F4B;
  line-height: 70px;
  margin-bottom: 30px;
  letter-spacing: 0.2px;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 24px;
  &.none-margin {
    margin-bottom: 0;
  }
}
.help-text {
  text-align: center;
  font-size: 26px;
  color: #1E1F4B;
}

.button-contact {
  background: #2E3E5C;
  font-size: 18px;
  border-radius: 12px;
  padding: 15px 40px;
  outline: none;
  border: none;
  color: white;
  font-weight: 600;

  &:hover {
    background: #706FE5;
  }
}

p {
  padding: 0;
  margin: 0;
}